/* Css Reset */
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* # use for id  and . use for class */

#GreenHead
{
    color: rgb(14, 206, 0);
}
.BlueHead{
    color: blue;
}
/* Multiple Selector */

.Welcome , .about
{
    background-color: aqua;
    border: 2px rgb(163, 163, 163) solid;
    padding: 10px;
    margin-bottom: 2px;
    text-align: center;
    color:rgb(244, 0, 0);
}
/* Nested Selector */
.Welcome p
{
    font-size: 20px;
   font-style: italic;
   font-variant: small-caps;
   color: rgb(255, 0, 115);
}
/* Elementor Selector */
/* body
{
    font-size: 25px;
    background-color: #333;
    line-height: 30px;
    
} */

#box-1
{
    background-color: rgb(0, 255, 153);
    /* border-width: 2px;
    border-color: black;
    border-style: solid; */
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}
#box-2
{
    background: darkblue;
    color: rgb(255, 255, 255);
    border-top: 2px solid red;
    border-top-left-radius: 10px;
    padding: 10px;
}
#box-3
{
    background-image: url(./Baust.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 300px;
    width: 600px;
    color: rgb(255, 255, 255);
    padding: 10px;
}
#box-4
{
    background: url(./Baust.jpg ) no-repeat center bottom;
    color: white;
    padding: 10px;
    background-attachment: fixed;
    
}
#box-5
{
    padding: 10px;
    background-attachment: fixed;
    background-color: aquamarine;
    background-size: cover;
    text-align: center;
}
body
{
    background: url(./BaustLogo.png)center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.box
{
    background: black;
    color: white;
    border: 2px solid red;
    width: 500px;
    /* Padding and margin all Side */
    padding: 20px;
    margin: 20px;
    /* padding shorthand ALl side */
    /* top, right, bottom, left */
    padding:10px 20px 10px 20px;
    margin:20px 10px 20px 10px;
}
.box h3
{
    padding-bottom: 20px;
}