h2
{
    display: inline;
}
span
{   display: block;
    background-color: greenyellow;
    border: 2px black solid;
    padding: 20px;
    margin: 20px;
}
.test{
    display: inline-block;
    height: 200px;
    width: 200px;
    background-color: greenyellow;
    border: 2px solid black;
    margin: 5px;
}