/* All Website apply Selector */
*{
    font-family: 'Courier New', Courier, monospace;
}

/* Html Element Selector */
h1,h3
{
    color: #b92b27;
}
#login{
    background-color: white;

}
/* Id Selector  */
#signup{
    background-color: #b92b27;
    color: white;
}
/* class Selector  */
.upvote{
    background-color: green;
    color: aliceblue;
}

/* Descendant Selector */

p a{
    color: purple;
    
}

/* Adjacent Sibling Combinator */
p+h3{
    text-decoration: underline;
}
.upvote+button
{
    background-color: rgb(0, 25, 70);
    color: rgb(255, 255, 255) ;
}

/* Child Combinator  */

div > input {
    background-color: #b3b3b3;
    
}

/* Attribute Selector  */
input[type="text"]{
    color: red;
}
input[type="password"]{
    color: rgb(255, 255, 255);
}
input[type]{
    background-color: rgb(0, 0, 0);
}

/* Pseudo Class  */  
/* :hover :active :checked :nth-of-type  */

button:hover
{
    background-color: black;
    color: white;
}
h3:hover{
    text-decoration: overline;
}
button:active
{
    background-color: #b92b27;
}
p :active{
    font-weight: bold;
}
input[type="radio"]:checked + label
{
    color:red;
    font-weight: bold;
}
.post:nth-of-type(2){
    background-color: #ff3932;
}


/* Pseudo Element  */
h1::first-letter{
    color: rgb(0, 0, 0);
}
p::first-line{
    color: red;
}
h3::selection
{
    background-color: yellow;
}

/* Cascading styleSheets */
h3{
    background-color: aquamarine;
}
h3
{
    background-color: rgb(206, 206, 206);
}

/* Selector Specificity */
/* id> class> Element  */
