/* All Website apply Selector */
*{
    font-family: 'Courier New', Courier, monospace;
}

/* Html Element Selector */
h1,h3
{
    color: #b92b27;
}
#login{
    background-color: white;

}
/* Id Selector  */
#signup{
    background-color: #b92b27;
    color: white;
}
/* class Selector  */
.upvote{
    background-color: green;
    color: aliceblue;
}

/* Descendant Selector */

p a{
    color: purple;
    
}

/* Adjacent Sibling Combinator */
p+h3{
    text-decoration: underline;
}
.upvote+button
{
    background-color: rgb(0, 25, 70);
    color: rgb(255, 255, 255) ;
}

/* Child Combinator  */

div > input {
    background-color: #b3b3b3;
    
}