/* Color Properties use */
h1{
    color: blue;
    background-color: bisque;
}
p{
    color: aqua;
    background-color: rgb(203, 113, 2);
    font-weight: bold;
}

button{
    color: gold;
    background-color: black;
}
 /* Apply Text Properties  */

 .text_pro{
    text-align: center;
    font-weight: 1000;
    /* font-weight: bolder; */
    /* font-weight: lighter; */
    text-decoration: underline;
    text-decoration: line-through;
    text-decoration: rgb(255, 0, 166) line-through;
    text-decoration: rgb(255, 0, 166)  dashed underline;
    text-decoration: rgb(255, 0, 166)  double underline;
    text-decoration: rgb(255, 0, 166)  wavy underline;
  
    line-height: 5;
    letter-spacing: normal;
    letter-spacing: 20 px;

    font-size: 200%;
    font-size: 30px;
    font-size: 3em;
    font-size: 3rem;

    font-family: arial;

 }

 .link{
    text-decoration: none;
 }